In [52]:
#import libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [54]:
#loan_approval_df = pd.read_csv("..\01_data\loan_approval_dataset.csv")
loan_approval_df = pd.read_csv(r"C:\Users\Utilisateur\IronHack\Bootcamp\Week_7_ML\Machine_learning_prediction_for_loan_approval\01_data/loan_approval_dataset.csv")
loan_approval_df.head()

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected

In [56]:
loan_approval_df.shape

(4269, 13)

In [58]:
loan_approval_df.columns

Index(['loan_id', ' no_of_dependents', ' education', ' self_employed',
       ' income_annum', ' loan_amount', ' loan_term', ' cibil_score',
       ' residential_assets_value', ' commercial_assets_value',
       ' luxury_assets_value', ' bank_asset_value', ' loan_status'],
      dtype='object')

In [60]:
loan_approval_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4269 entries, 0 to 4268
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   loan_id                    4269 non-null   int64
 1    no_of_dependents          4269 non-null   int64
 2    education                 4269 non-null   object
 3    self_employed             4269 non-null   object
 4    income_annum              4269 non-null   int64
 5    loan_amount               4269 non-null   int64
 6    loan_term                 4269 non-null   int64
 7    cibil_score               4269 non-null   int64
 8    residential_assets_value  4269 non-null   int64
 9    commercial_assets_value   4269 non-null   int64
 10   luxury_assets_value       4269 non-null   int64
 11   bank_asset_value          4269 non-null   int64
 12   loan_status               4269 non-null   object
dtypes: int64(10), object(3)
memory usage: 433.7+ KB

education, self_employed and loan_status >> 3 Categorical

loan_id, no_of_dependents, income_annum, loan_amount, loan_term, cibil_score, residential_assets_value, commercial_assets_value, luxury_assets_value, bank_asset_value >> 10 Numerical

In [ ]:
loan_approval_df['education'].value_counts()

Graduate        2144
 Not Graduate    2125
Name: education, dtype: int64

In [38]:
loan_approval_df['education']=loan_approval_df['education'].replace({' Graduate':1,' Not Graduate':0})
loan_approval_df['self_employed'] = loan_approval_df['self_employed'].replace({' No': 0, ' Yes': 1})

loan_approval_df

In [ ]:
#loan_approval_df['education'][loan_approval_df['education']==' Graduate']=1
#loan_approval_df['education'][loan_approval_df['education']==' Not Graduate']=0

In [ ]:
#loan_approval_df['education']=loan_approval_df['education'].astype(int)

In [36]:
loan_approval_df.describe()

,loan_id,no_of_dependents,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value
count,4269.000000,4269.000000,4.269000e+03,4.269000e+03,4269.000000,4269.000000,4.269000e+03,4.269000e+03,4.269000e+03,4.269000e+03
mean,2135.000000,2.498712,5.059124e+06,1.513345e+07,10.900445,599.936051,7.472617e+06,4.973155e+06,1.512631e+07,4.976692e+06
std,1232.498479,1.695910,2.806840e+06,9.043363e+06,5.709187,172.430401,6.503637e+06,4.388966e+06,9.103754e+06,3.250185e+06
min,1.000000,0.000000,2.000000e+05,3.000000e+05,2.000000,300.000000,-1.000000e+05,0.000000e+00,3.000000e+05,0.000000e+00
25%,1068.000000,1.000000,2.700000e+06,7.700000e+06,6.000000,453.000000,2.200000e+06,1.300000e+06,7.500000e+06,2.300000e+06
50%,2135.000000,3.000000,5.100000e+06,1.450000e+07,10.000000,600.000000,5.600000e+06,3.700000e+06,1.460000e+07,4.600000e+06
75%,3202.000000,4.000000,7.500000e+06,2.150000e+07,16.000000,748.000000,1.130000e+07,7.600000e+06,2.170000e+07,7.100000e+06
max,4269.000000,5.000000,9.900000e+06,3.950000e+07,20.000000,900.000000,2.910000e+07,1.940000e+07,3.920000e+07,1.470000e+07

In [ ]:
loan_approval_df['education'].unique()

In [38]:
loan_approval_df.nunique()

loan_id                      4269
 no_of_dependents               6
 education                      2
 self_employed                  2
 income_annum                  98
 loan_amount                  378
 loan_term                     10
 cibil_score                  601
 residential_assets_value     278
 commercial_assets_value      188
 luxury_assets_value          379
 bank_asset_value             146
 loan_status                    2
dtype: int64

education with 2 unique values : graduate and no graduate >> Convert into numeric 1 and 0.
self-employed with 2 too : yes or no >> Convert into numeric 1 and 0.

In [18]:
loan_approval_df.isnull().sum()

loan_id                      0
 no_of_dependents            0
 education                   0
 self_employed               0
 income_annum                0
 loan_amount                 0
 loan_term                   0
 cibil_score                 0
 residential_assets_value    0
 commercial_assets_value     0
 luxury_assets_value         0
 bank_asset_value            0
 loan_status                 0
dtype: int64

Right, no null values in the dataset

In [ ]:
# Create the 'assets_value_total' column aggregating the SUM of the 4 columns.
loan_approval_df['assets_value_total'] = (loan_approval_df['commercial_assets_value'] + 
                        loan_approval_df['luxury_assets_value'] + 
                        loan_approval_df['bank_asset_value'] + 
                        loan_approval_df['residential_assets_value'])

# Display the modified df
print(loan_approval_df[['loan_id', 'commercial_assets_value', 'luxury_assets_value', 'bank_asset_value', 'residential_assets_value', 'total_assets_value']].head())

In [ ]:
target = loan_approval_df['loan_status']
target

In [ ]:
features = loan_approval_df[['education', 'no_of_dependents', 'self_employed', 
                                      'income_annum', 'loan_amount', 'loan_term', 'cibil_score', 
                                      'residential_assets_value', 'commercial_assets_value', 
                                      'luxury_assets_value', 'bank_asset_value', 'total_assets_value']]

# Display the selected columns
print(features.head())
features

In [ ]:
#Multiple linear regression
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# Load your dataset
loan_approval_df = pd.read_csv(r"C:\Users\Utilisateur\IronHack\Bootcamp\Week_7_ML\Machine_learning_prediction_for_loan_approval\01_data/loan_approval_dataset.csv")
# Handle missing values (if any)
loan_approval_df = loan_approval_df.dropna()

# Encode categorical variables (if any)
loan_approval_df = pd.get_dummies(loan_approval_df, columns=['self_employed'], drop_first=True)

# Define features and target variable
X = loan_approval_df[['income_annum', 'loan_amount', 'loan_term', 'cibil_score', "assets_value_total']]
y = loan_approval_df['loan_status']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the model
model = LinearRegression()

# Train the model
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error: {mse}')
print(f'R^2 Score: {r2}')

# Display the coefficients
coefficients = pd.DataFrame(model.coef_, X.columns, columns=['Coefficient'])
print(coefficients)

In [ ]:
#Logistic regression we should use for loan approval.
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

# Define features and target variable for logistic regression
X = loan_approval_df.drop(columns=['Loan_ID', 'Loan_Status_Y'])
y = loan_approval_df['Loan_Status_Y']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the logistic regression model
log_model = LogisticRegression()

# Train the model
log_model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = log_model.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)
class_report = classification_report(y_test, y_pred)

print(f'Accuracy: {accuracy}')
print(f'Confusion Matrix:\n{conf_matrix}')
print(f'Classification Report:\n{class_report}')